{% if DISQUS_SITENAME %}
    <div class="post">
        <div class="respond">
            <a id="comment-section"><a id="disqus_thread"></a></a>
            <script type="text/javascript">
                /* * * DON'T EDIT BELOW THIS LINE * * */
                var disqus_shortname = '{{ DISQUS_SITENAME }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
{% endif %}

